# Laravel
laravel/vendor/
laravel/.env
laravel/storage/logs/*
laravel/storage/framework/cache/*

# Angular
angular/node_modules/
angular/dist/
angular/.angular/

# n8n
n8n/workflows_runtime/

# Docker
postgres/data/

# n8n
n8n/workflows_runtime/